absl-py==1.0.0
adal==1.2.7
aeppl==0.0.35
aesara==2.8.2
ale-py==0.7.5
alembic==1.12.0
anyio==3.7.1
apturl==0.5.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arviz==0.15.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
azure-common==1.1.28
azure-core==1.25.0
azure-graphrbac==0.61.1
azure-mgmt-authorization==2.0.0
azure-mgmt-containerregistry==10.0.0
azure-mgmt-core==1.3.2
azure-mgmt-keyvault==10.1.0
azure-mgmt-resource==21.1.0
azure-mgmt-storage==20.0.0
azureml-core==1.44.0
Babel==2.9.1
backcall==0.2.0
backports.csv==1.0.7
backports.entry-points-selectable==1.1.1
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
blessed==1.19.1
blessings==1.7
blinker==1.4
boto3==1.24.58
botocore==1.27.58
branca==0.4.2
breezy==3.2.1
Brlapi==0.7.0
cachetools==5.0.0
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
chrome-gnome-shell==0.0.0
cli-helpers==2.2.0
cliapp==1.20180812.1
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cmdtest==0.32+git
colorama==0.4.4
colorful==0.5.4
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
cons==0.4.6
constantly==15.1.0
contextlib2==21.6.0
contourpy==1.0.7
cryptography==36.0.1
cupshelpers==1.0
cvxpy==1.3.2
cvxpylayers==0.1.6
cvxstoc==0.2.2
cycler==0.11.0
Cython==0.29.26
databricks-cli==0.17.2
dbus-python==1.2.18
debugpy==1.5.1
decorator==5.1.0
deepdiff==5.8.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
descartes==1.1.0
diffcp==1.0.23
distlib==0.3.4
distro==1.6.0
distro-info==1.0
dm-control==1.0.2
dm-env==1.5
dm-tree==0.1.7
dnspython==2.1.0
docker==5.0.3
docopt==0.6.2
docutils==0.18.1
dss-python==0.12.1
dulwich==0.20.26
duplicity==0.8.12.0
earthpy==0.9.4
ecos==2.0.10
emoji==1.6.1
empy==3.3.4
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.1.0
etuples==0.3.9
exceptiongroup==1.1.3
Farama-Notifications==0.0.4
fastapi==0.80.0
fasteners==0.16.3
fastimport==0.9.14
fastprogress==1.0.3
filelock==3.4.0
Fiona==1.8.20
Flask==2.0.2
flatbuffers==2.0
flwr==1.1.0
folium==0.12.1.post1
fonttools==4.28.4
frozenlist==1.3.1
future==0.18.2
gast==0.5.3
GDAL==3.0.4
genpy==2021.1
geopandas==0.10.2
giotto-tda==0.5.1
gitdb==4.0.9
GitPython==3.1.27
glfw==2.5.3
google-api-core==2.8.2
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-storage==2.5.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
gpg===1.13.1-unknown
gpustat==1.0.0
graphviz==0.20.1
greenlet==1.1.2
grpcio==1.43.0
gunicorn==20.1.0
gurobipy==9.5.1
gym-notices==0.0.6
gymnasium==0.29.1
h11==0.13.0
h5netcdf==1.1.0
h5py==3.6.0
html5lib==1.1
httplib2==0.20.2
humanfriendly==10.0
humanize==3.13.1
hyperlink==21.0.0
idna==3.3
igraph==0.9.8
imageio==2.13.3
img2pdf==0.3.3
importlib-metadata==4.11.3
importlib-resources==5.4.0
incremental==21.3.0
ipykernel==6.6.0
ipympl==0.8.8
ipython==7.30.1
ipython_genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.1
iterators==0.0.2
itsdangerous==2.0.1
jax-jumpy==1.0.0
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.0.3
jmespath==1.0.0
joblib==1.1.0
jpegdupes==2.1.0
jpegtran-cffi==0.5.2
json5==0.9.6
jsonpickle==2.2.0
jsonschema==4.3.1
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-server==1.13.1
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.12.0
jupyterlab-widgets==1.0.2
jupyterthemes==0.20.0
kafka-python==2.0.2
kaggle==1.5.12
keras==2.8.0
Keras-Preprocessing==1.1.2
kernel-driver==0.0.7
keyring==23.4.0
kiwisolver==1.3.2
knack==0.9.0
kubernetes==24.2.0
labmaze==1.0.5
language-selector==0.1
launchpadlib==1.10.15.1
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lesscpy==0.15.0
libclang==13.0.0
llvmlite==0.39.0
lockfile==0.12.2
logical-unification==0.4.6
louis==3.12.0
lxml==4.7.1
lz4==3.1.10
macaroonbakery==1.3.1
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
miniKanren==1.0.3
mistune==0.8.4
mlflow==2.7.1
mlserver==1.1.0
mlserver-mlflow==1.1.0
monotonic==1.6
more-itertools==8.12.0
Mosek==10.0.34
mpi4py==3.1.3
mpmath==1.2.1
msal==1.18.0
msal-extensions==1.0.0
msgpack==1.0.4
msrest==0.7.1
msrestazure==0.6.4
mssql-cli==1.0.0
mujoco==2.1.5
multidict==6.0.2
multipledispatch==1.0.0
munch==2.5.0
mypy==1.1.1
mypy-extensions==1.0.0
natsort==8.1.0
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nbterm==0.0.13
ndg-httpsclient==0.5.1
nest-asyncio==1.5.4
netifaces==0.11.0
networkx==2.6.3
notebook==6.4.6
numba==0.56.0
numpy==1.21.2
nvidia-ml-py==11.495.46
oauthlib==3.1.1
ocrmypdf==9.6.0+dfsg
odfpy==1.4.1
olefile==0.46
opencensus==0.11.0
opencensus-context==0.1.3
opencv-python==4.5.4.60
openpyxl==3.0.9
opt-einsum==3.3.0
ordered-set==4.1.0
osqp==0.6.2.post5
OWSLib==0.25.0
packaging==21.3
pandapower==2.10.1
pandas==2.0.3
pandas-datareader==0.10.0
pandas-stubs==1.5.3.230321
pandocfilters==1.5.0
paramiko==2.8.1
parso==0.8.3
path-and-address==2.0.1
pathspec==0.9.0
patiencediff==0.2.2
patsy==0.5.3
pdfminer.six==20191020
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==1.10.3+dfsg
Pillow==8.4.0
pkginfo==1.8.3
platformdirs==2.4.0
plotly==5.4.0
ply==3.11
portalocker==2.5.1
prometheus-client==0.12.0
prometheus-flask-exporter==0.20.3
prompt-toolkit==3.0.24
protobuf==3.19.1
proton-client==0.7.1
protonvpn-cli==3.12.0
protonvpn-nm-lib==3.10.0
psutil==5.8.0
psycopg2==2.9.2
ptyprocess==0.7.0
py-grpc-prometheus==0.7.0
py-spy==0.3.14
py-ubjson==0.16.1
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.2
pycairo==1.20.1
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.12.0
pycups==1.9.73
pydantic==1.9.2
pydot==1.4.2
pyfiglet==0.8.post1
pyflagser==0.4.4
pygame==2.1.3
PyGithub==1.55
Pygments==2.10.0
PyGObject==3.36.0
PyHamcrest==2.0.3
PyJWT==2.3.0
pymacaroons==0.13.0
pymc==4.2.0
PyNaCl==1.4.0
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypng==0.0.21
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyRFC3339==1.1
pyrsistent==0.18.0
pysftp==0.2.9
PySocks==1.7.1
pytensor==2.12.3
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian==0.1.42
python-dotenv==0.20.0
python-gitlab==2.10.1
python-gnupg==0.4.8
python-igraph==0.9.8
python-slugify==7.0.0
python-snappy==0.6.0
pythondialog==3.5.3
pytisean==0.1.1
pytools==2021.2.9
PyTrie==0.4.0
pytz==2021.3
PyWavelets==1.2.0
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
qdldl==0.1.5.post2
qtconsole==5.2.2
QtPy==1.11.3
querystring-parser==1.2.4
ranger-fm==1.9.3
rasterio==1.2.10
ray==2.0.1
reportlab==3.6.3
requests==2.26.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
rich==13.0.1
roman==3.3
rosdep==0.22.2
rosdep-modules==0.22.2
rosdistro==0.9.0
rosdistro-modules==0.9.0
rosinstall==0.7.8
rosinstall-generator==0.1.23
rospkg==1.5.0
rospkg-modules==1.5.0
rsa==4.8
s3transfer==0.6.0
scikeras==0.9.0
scikit-image==0.19.1
scikit-learn==0.23.1
scipy==1.3.3
screen-resolution-extra==0.0.0
scs==3.2.0
seaborn==0.12.2
SecretStorage==3.3.1
seedir==0.3.1
Send2Trash==1.8.0
service-identity==21.1.0
Shapely==1.8.0
simplejson==3.17.6
sip==6.5.0
six==1.16.0
sklearn==0.0
smart-open==6.2.0
smmap==5.0.0
snakeviz==2.1.1
sniffio==1.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.28
sqlparse==0.4.2
ssh-import-id==5.10
starlette==0.19.1
starlette-exporter==0.14.0
statsmodels==0.13.5
sympy==1.5.1
systemd-python==234
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.12.1
terminaltables==3.1.10
testpath==0.5.0
text-unidecode==1.3
texttable==1.6.4
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.0.0
tifffile==2021.11.2
titanic-classification @ file:///home/javier/Documents/Jobs/202211_WILO/Wilo2Workspace/titanic_classification
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.11.0+cu113
torch-summary==1.4.5
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.30.0
traitlets==5.1.1
ttystatus==0.38
Twisted==21.7.0
txaio==21.2.1
typer==0.7.0
types-colorama==0.4.15.9
types-pytz==2023.2.0.1
types-PyYAML==6.0.12.9
types-tabulate==0.9.0.2
types-tqdm==4.65.0.1
typing_extensions==4.8.0
tzdata==2023.3
u-msgpack-python==2.7.1
ubuntu-advantage-tools==27.6
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.7
usb-creator==0.3.7
uvicorn==0.18.3
uvloop==0.16.0
vboxapi==1.0
vcstools==0.1.42
virtualenv==20.10.0
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.13.3
wsaccel==0.6.3
wstool==0.1.18
xarray==2023.1.0
xarray-einstats==0.5.1
xkit==0.0.0
xlrd==2.0.1
yarl==1.8.1
youtube-dl==2021.12.17
zipp==3.6.0
zope.interface==5.4.0
